<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>Stussy</title>
</head>
<body>
    <div id="container">
        <header th:replace="~{fragment/header :: header}"></header>
        <main class="imgs"> 
            <article class="main-left">
                <ul>
                    <div class="img-box">
                        <div class="item">
                            <a href="/collections/knits"><img src="/static/images/knits.png" alt="knits" class="new"><span>KNITS</span></a>
                        </div>
                    </div>
                    <div class="img-box">
                        <div class="item">
                            <a href="/collections/denim"><img src="/static/images/denim.png" alt="denim" class="new"><span>DENIM</span></a>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="img-box">
                        <div class="item">
                            <a href="/collections/headwear"><img src="/static/images/headwear.png" alt="headwear" class="new"><span>HEADWEAR</span></a>
                        </div>
                    </div>
                    <div class="img-box">
                        <div class="item">
                            <a href="/collections/outerwear"><img src="/static/images/outer.png" alt="outer" class="new"><span>OUTERWEAR</span></a>
                        </div>
                    </div>
                </ul>
            </article>
        </main>
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </div>
</body>
</html>